exported_wf.json
[{"updatedAt":"2026-05-28T10:09:20.000Z","createdAt":"2026-05-26T04:16:34.202Z","id":"PgLm3aaaF4q55h27","name":"check-video-status","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"path":"check-video-status","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[240,352],"id":"e4a7ff90-c2bd-48e0-a9cf-38f32890a880","name":"Webhook","webhookId":"8b3dd883-8400-4337-a627-4962208ace2a"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"check-id-exists","leftValue":"={{ $json.query.product_id ? $json.query.product_id + '' : '' }}","operator":{"type":"string","operation":"isNotEmpty"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[464,352],"id":"if-has-id","name":"If Has ID"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"KNQQLSU7AJtCxlzf","mode":"list","cachedResultName":"tiktok product","cachedResultUrl":"/projects/2NFTdqAbIiWWB0tj/datatables/KNQQLSU7AJtCxlzf"},"filters":{"conditions":[{"keyValue":"={{ $('Webhook').item.json.query.product_id }}"}]}},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[688,240],"id":"6732cc89-ca15-4ee4-90aa-9a74be8839d0","name":"Get row(s)"},{"parameters":{"respondWith":"json","responseBody":"={\n  \"status\": \"{{ $json.status }}\",\n  \"sound_prompt\": \"{{ $json.sound_prompt }}\",\n  \"video\": \"{{ $json.video }}\",\n  \"final_video\": \"{{ $json.final_video }}\"\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[912,240],"id":"73c6838a-36b1-4f36-aeb5-bd8cb17498c4","name":"Respond to Webhook"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"KNQQLSU7AJtCxlzf","mode":"list","cachedResultName":"tiktok product","cachedResultUrl":"/projects/2NFTdqAbIiWWB0tj/datatables/KNQQLSU7AJtCxlzf"},"returnAll":true},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[688,464],"id":"get-all-rows","name":"Get All Rows"},{"parameters":{"jsCode":"const query = $('Webhook').item.json.query || {};\nconst productId = query.product_id;\nconst queryAll = query.all === 'true';\n\nconst items = $input.all();\nlet filtered;\n\nif (productId !== undefined && productId !== null && productId !== '' && productId !== '0' && productId !== 0) {\n  // Query a single product ID\n  const pid = parseInt(productId);\n  const match = items.find(item => item.json.id === pid);\n  if (match) {\n    return [{\n      json: {\n        is_single: true,\n        data: {\n          id: match.json.id,\n          status: match.json.status,\n          sound_prompt: match.json.sound_prompt,\n          video: match.json.video,\n          final_video: match.json.final_video\n        }\n      }\n    }];\n  } else {\n    return [{\n      json: {\n        is_single: true,\n        data: {\n          status: 'not_found',\n          sound_prompt: null,\n          video: null,\n          final_video: null\n        }\n      }\n    }];\n  }\n}\n\n// Otherwise return list of items\nif (queryAll) {\n  // Return all rows sorted by ID descending (history view) - include picture_url and audio_url for delete modal\n  filtered = items\n    .map(item => ({\n      id: item.json.id,\n      createdAt: item.json.createdAt,\n      prouduct_description: item.json.prouduct_description,\n      sound_prompt: item.json.sound_prompt,\n      image_url2: item.json.image_url2,\n      status: item.json.status,\n      final_video: item.json.final_video,\n      video: item.json.video,\n      picture_url: item.json.picture_url || '',\n      audio_url: item.json.audio_url || ''\n    }))\n    .sort((a, b) => b.id - a.id);\n} else {\n  // Original unmerged jobs logic (limit 10) - checks for 'done' or 'success'\n  filtered = items\n    .filter(item => (item.json.status === 'done' || item.json.status === 'success') && (item.json.final_video === 'wait' || !item.json.final_video))\n    .map(item => ({\n      id: item.json.id,\n      createdAt: item.json.createdAt,\n      prouduct_description: item.json.prouduct_description,\n      sound_prompt: item.json.sound_prompt,\n      image_url2: item.json.image_url2\n    }))\n    .sort((a, b) => b.id - a.id)\n    .slice(0, 10);\n}\n\nreturn [{\n  json: {\n    is_single: false,\n    items: filtered\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[912,464],"id":"filter-sort-code","name":"Filter & Sort"},{"parameters":{"respondWith":"json","responseBody":"={{ $json.is_single ? $json.data : $json.items }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1120,464],"id":"respond-list","name":"Respond to Webhook List"}],"connections":{"Webhook":{"main":[[{"node":"Get All Rows","type":"main","index":0}]]},"Get All Rows":{"main":[[{"node":"Filter & Sort","type":"main","index":0}]]},"Filter & Sort":{"main":[[{"node":"Respond to Webhook List","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":{},"meta":{},"pinData":{},"versionId":"17a7e841-9140-47b8-a0c1-c0390babc4be","activeVersionId":"17a7e841-9140-47b8-a0c1-c0390babc4be","versionCounter":68,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-05-26T04:17:27.302Z","createdAt":"2026-05-26T04:17:27.302Z","role":"workflow:owner","workflowId":"PgLm3aaaF4q55h27","projectId":"2NFTdqAbIiWWB0tj","project":{"updatedAt":"2025-10-13T05:59:33.941Z","createdAt":"2025-09-13T05:14:14.164Z","id":"2NFTdqAbIiWWB0tj","name":"noppasit mahapolheran <noppasit99@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"873cdf1c-524e-45c2-95e1-4e06111864d7"}}],"versionMetadata":{"name":null,"description":null}}]